# Site
name: "Eat Code Travel Blog"
title: "Eat Code Travel Blog"
description: "Yemek, seyahat ve çok nadiren de kodlama."
logo: 'assets/images/ect-logo.png'
favicon: 'assets/images/ect-logo.png'
baseurl: /eatcodetravel-blog
disqus: 'eatcodetravel-1'
# mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  Berke:
    name: Berke
    display_name: Berke
    avatar: 'assets/images/ect-logo-2.png'
    email: eatcodetravel.social@gmail.com
    web: https://instagram.com/canberkeh
    youtube: https://www.youtube.com/@eat.code.travel
    # description: "Author of Mediumish, a Bootstrap Medium styled template available for WordPress, HTML, Ghost and Jekyll. You are currently previewing Jekyll template demo."
  Büşra:
    name: Büşra
    display_name: Büşra    
    avatar: 'assets/images/ect-logo-2.png'
    email: eatcodetravel.social@gmail.com
    web: https://instagram.com/busgumusel
    youtube: https://www.youtube.com/@eat.code.travel
    # description: "This is the author box. Write a short description of the author here. You are currently previewing Mediumish demo, a Jekyll template compatible with Github pages."

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
